LogicApps/03-GetSites-WF.json
{
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http"
        }
      },
      "actions": {
        "deleteolddata": {
          "type": "Scope",
          "actions": {
            "foreachgroup2delete": {
              "type": "Foreach",
              "foreach": "@body('getgroups2delete')?['value']",
              "actions": {
                "deletegroup": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tablegroups'])}/entities/etag(PartitionKey='@{encodeURIComponent(items('foreachgroup2delete')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('foreachgroup2delete')?['RowKey'])}')"
                  }
                }
              },
              "runAfter": {
                "getgroups2delete": [
                  "Succeeded"
                ]
              }
            },
            "getgroups2delete": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tablegroups'])}/entities",
                "queries": {
                  "$filter": "PartitionKey eq 'site' and run ne '@{variables('run')}'"
                }
              }
            }
          },
          "runAfter": {
            "foreachsite": [
              "Succeeded",
              "Failed"
            ]
          }
        },
        "foreachsite": {
          "type": "Foreach",
          "foreach": "@body('getsites')?['value']",
          "actions": {
            "checkfound": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('getgroup')?['value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {},
              "else": {
                "actions": {
                  "appendgroups": {
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "groups",
                      "value": {
                        "displayname": "@{items('foreachsite')?['displayName']}",
                        "id": "@{items('foreachsite')?['id']}",
                        "label": "@{if(empty(body('getsite')?['d']?['Classification']),'-',body('getsite')?['d']?['Classification'])}",
                        "labelid": "@{if(empty(body('getsite')?['d']?['SensitivityLabelId']),'-',body('getsite')?['d']?['SensitivityLabelId'])}"
                      }
                    },
                    "runAfter": {
                      "updategroup": [
                        "Succeeded"
                      ]
                    }
                  },
                  "getsite": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "method": "GET",
                        "uri": "_api/site"
                      },
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(item()?['webUrl']))}/httprequest"
                    }
                  },
                  "updategroup": {
                    "type": "ApiConnection",
                    "description": "There can only be ONE label assigned to a group or SPO comm site.",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                      },
                      "method": "patch",
                      "body": {
                        "displayName": "@{items('foreachsite')?['displayName']}",
                        "id": "@{items('foreachsite')?['id']}",
                        "label": "@{if(empty(body('getsite')?['d']?['Classification']),'-',body('getsite')?['d']?['Classification'])}",
                        "labelid": "@{if(empty(body('getsite')?['d']?['SensitivityLabelId']),'-',body('getsite')?['d']?['SensitivityLabelId'])}",
                        "labelscount": "@if(empty(body('getsite')?['d']?['SensitivityLabelId']),0,if(equals(body('getsite')?['d']?['SensitivityLabelId'],'00000000-0000-0000-0000-000000000000'),0,1))",
                        "run": "@{variables('run')}",
                        "siteid": "@{items('foreachsite')?['id']}",
                        "siteurl": "@{body('getsite')?['d']?['Url']}",
                        "statuscode": "@actions('getsite').outputs.statusCode"
                      },
                      "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tablegroups'])}/entities(PartitionKey='@{encodeURIComponent('site')}',RowKey='@{encodeURIComponent(items('foreachsite')?['id'])}')"
                    },
                    "runAfter": {
                      "getsite": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "runAfter": {
                "getgroup": [
                  "Succeeded",
                  "Failed"
                ]
              }
            },
            "getgroup": {
              "type": "ApiConnection",
              "description": "Check if the site is not already existing as team site.",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tablegroups'])}/entities",
                "queries": {
                  "$filter": "PartitionKey eq 'group' and siteid eq '@{item()?['id']}'"
                }
              }
            }
          },
          "runAfter": {
            "getsites": [
              "Succeeded"
            ]
          }
        },
        "getAppConfig": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azuretables']['connectionId']"
              }
            },
            "method": "get",
            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('solutionConfig')}/entities(PartitionKey='@{encodeURIComponent('app')}',RowKey='@{encodeURIComponent('config')}')"
          },
          "runAfter": {
            "initConfig": [
              "Succeeded"
            ]
          }
        },
        "getConfig": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azuretables']['connectionId']"
              }
            },
            "method": "get",
            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('solutionConfig')}/entities(PartitionKey='@{encodeURIComponent('01')}',RowKey='@{encodeURIComponent('config')}')"
          },
          "runAfter": {
            "initemailtemplate": [
              "Succeeded"
            ]
          }
        },
        "getsecret": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('secret')}/value"
          },
          "runAfter": {
            "initbody": [
              "Succeeded"
            ]
          }
        },
        "getsites": {
          "type": "Http",
          "description": "https://learn.microsoft.com/en-us/graph/api/site-getallsites?view=graph-rest-1.0&tabs=http",
          "inputs": {
            "uri": "https://graph.microsoft.com/v1.0/sites/getAllSites?$filter=@{concat('isPersonalSite ','eq ', 'false')}",
            "method": "GET",
            "headers": {
              "Content-Type": "application/json"
            },
            "authentication": {
              "audience": "https://graph.microsoft.com/",
              "authority": "https://login.microsoft.com",
              "clientId": "@variables('app')?['clientId']",
              "secret": "@body('getsecret')?['value']",
              "tenant": "@variables('app')?['tenantId']",
              "type": "ActiveDirectoryOAuth"
            }
          },
          "runAfter": {
            "getsecret": [
              "Succeeded"
            ]
          }
        },
        "initAppConfig": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "app",
                "type": "object",
                "value": "@json(body('getAppConfig')?['Value'])"
              }
            ]
          },
          "runAfter": {
            "getAppConfig": [
              "Succeeded"
            ]
          }
        },
        "initConfig": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "config",
                "type": "object",
                "value": "@json(body('getConfig')?['Value'])"
              }
            ]
          },
          "runAfter": {
            "getConfig": [
              "Succeeded"
            ]
          }
        },
        "initbody": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "body",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "initgroupssorted": [
              "Succeeded"
            ]
          }
        },
        "initemailtemplate": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailtemplate",
                "type": "string",
                "value": "<!DOCTYPE html>\n<html>\n\n<head>\n  <meta content=\"text/html; charset=utf-8\" http-equiv=\"Content-Type\">\n  <meta content=\"email template by atwork.at\" name=\"template\">\n  <style>\n    <!--\n    /* Font Definitions */\n    @font-face {\n      font-family: Wingdings;\n      panose-1: 5 0 0 0 0 0 0 0 0 0;\n    }\n\n    @font-face {\n      font-family: \"Cambria Math\";\n      panose-1: 2 4 5 3 5 4 6 3 2 4;\n    }\n\n    @font-face {\n      font-family: Calibri;\n      panose-1: 2 15 5 2 2 2 4 3 2 4;\n    }\n\n    @font-face {\n      font-family: \"Segoe UI\";\n      panose-1: 2 11 5 2 4 2 4 2 2 3;\n    }\n\n    @font-face {\n      font-family: \"Segoe UI Light\";\n      panose-1: 2 11 5 2 4 2 4 2 2 3;\n    }\n\n    /* Style Definitions */\n    p.MsoNormal,\n    li.MsoNormal,\n    div.MsoNormal {\n      margin: 0cm;\n      margin-bottom: .0001pt;\n      font-size: 11.0pt;\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    h1 {\n      mso-style-link: \"Heading 1 Char\";\n      margin-top: 24.0pt;\n      margin-right: 0cm;\n      margin-bottom: 0cm;\n      margin-left: 0cm;\n      margin-bottom: .0001pt;\n      page-break-after: avoid;\n      font-size: 16.0pt;\n      font-family: \"Segoe UI Light\", sans-serif;\n      color: #2F5496;\n      font-weight: normal;\n    }\n\n    h2 {\n      mso-style-link: \"Heading 2 Char\";\n      margin: 0cm;\n      margin-bottom: .0001pt;\n      font-size: 16.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: normal;\n    }\n\n    h3 {\n      mso-style-link: \"Heading 3 Char\";\n      margin-top: 2.0pt;\n      margin-right: 0cm;\n      margin-bottom: 2.0pt;\n      margin-left: 0cm;\n      line-height: 130%;\n      page-break-after: avoid;\n      font-size: 14.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: normal;\n    }\n\n    h4 {\n      mso-style-link: \"Heading 4 Char\";\n      margin-top: 2.0pt;\n      margin-right: 0cm;\n      margin-bottom: 2.0pt;\n      margin-left: 0cm;\n      line-height: 130%;\n      page-break-after: avoid;\n      font-size: 12.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: bold;\n    }\n\n    a:link,\n    span.MsoHyperlink {\n      color: blue;\n      text-decoration: underline;\n    }\n\n    a:visited,\n    span.MsoHyperlinkFollowed {\n      color: #954F72;\n      text-decoration: underline;\n    }\n\n    p {\n      margin-right: 0cm;\n      margin-left: 0cm;\n      font-size: 11.0pt;\n      font-family: \"Calibri\", sans-serif;\n      line-height: 13.5pt;\n    }\n\n    span.Heading2Char {\n      mso-style-name: \"Heading 2 Char\";\n      mso-style-link: \"Heading 2\";\n      font-family: \"Segoe UI\", sans-serif;\n    }\n\n    span.Heading1Char {\n      mso-style-name: \"Heading 1 Char\";\n      mso-style-link: \"Heading 1\";\n      font-family: \"Segoe UI Light\", sans-serif;\n      color: #2F5496;\n    }\n\n    span.Heading3Char {\n      mso-style-name: \"Heading 3 Char\";\n      mso-style-link: \"Heading 3\";\n      font-family: \"Segoe UI\", sans-serif;\n    }\n\n    span.Heading4Char {\n      mso-style-name: \"Heading 4 Char\";\n      mso-style-link: \"Heading 4\";\n      font-family: \"Segoe UI\", sans-serif;\n      font-weight: bold;\n    }\n\n    span.preheader {\n      mso-style-name: preheader;\n      display: none;\n    }\n\n    .MsoChpDefault {\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    .MsoPapDefault {\n      margin-bottom: 8.0pt;\n      line-height: 107%;\n    }\n\n    /* Page Definitions */\n    @page WordSection1 {\n      size: 612.0pt 792.0pt;\n      margin: 72.0pt 72.0pt 72.0pt 72.0pt;\n    }\n\n    div.WordSection1 {\n      page: WordSection1;\n    }\n\n    /* List Definitions */\n    ol {\n      margin-bottom: 0cm;\n    }\n\n    ul {\n      margin-bottom: 0cm;\n    }\n\n    /* fix generated HTML tables */\n    tr>td>p>span {\n      font-size: 0.8em;\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    ul>li {\n      font-family: \"Calibri\", sans-serif;\n      font-size: 11.0pt;\n      color: #222222;\n      line-height: 13.5pt;\n    }\n    -->\n  </style>\n  <title></title>\n</head><!-- email template 2018 by atwork.at -->\n\n<body lang=\"EN-US\" link=\"blue\" vlink=\"#954F72\">\n  <div class=\"WordSection1\">\n    <p class=\"MsoNormal\">&nbsp;</p>\n    <div align=\"center\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n        style='width:100.0%;border-collapse:collapse' width=\"100%\">\n        <tr>\n          <td style='width:100.0%;background:#F1F1F1;padding:0cm 0cm 0cm 0cm' valign=\"top\" width=\"100%\">\n            <div align=\"center\">\n              <!-- text above the table if needed -->\n              <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='width:450.0pt;border-collapse:collapse' width=\"600\">\n                <tr>\n                  <td style='width:450.0pt;background:#F1F1F1;padding:0pt 0pt 2.25pt 0pt' width=\"600\">\n                    <p align=\"right\" style='text-align:right'></p>\n                  </td>\n                </tr>\n              </table>\n            </div>\n            <div align=\"center\">\n              <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='border-collapse:collapse;border:none'>\n                <tr>\n                  <td style='border:solid #595959 1.0pt;padding:.75pt .75pt .75pt .75pt'>\n                    <div align=\"center\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                        style='width:450.0pt;background:white;border-collapse:collapse' width=\"600\">\n                        <tr>\n                          <!-- company logo -->\n                          <td style='padding:18.75pt 0cm 15.0pt 22.5pt'>\n                            <p class=\"MsoNormal\" style='line-height:105%'><span><img alt=\"Logo\" height=\"20\"\n                                  src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGIAAAAUCAIAAAD5vH+FAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAkxSURBVHja7Fh5cFPnEX+XTuuwZNmSL3zgA9tgY5twmdNgKIQJzZR2KAzx0HLDdKBNJ2HSBFpaSkqnTTzQuiWQNIFhAoQQYo5wgw3EF8b3bWzJsmVJ1mU/ne/oSja2bGxD/ygzafrmk/Tme/u+b7/f7v52VyjLssj/r+dd2Pfz2Fcru/afq3S4qReUJ76HGFkd7u0nSts7rGGBwi1L41+ON7Ga3q+05qvfIZgcLsbspODoxn7XSwo6Y1/Zzdof3q5bbXM0fVdgQlEEx1C4Gfh+GTB5aKvXo1gPRdv/h+N0DG5iWapa836PrRDH8EEsUR6G8gXccIUoM1y+gktIYVJtvNDc84mHNhEYB0XR8vZfc3ARxTh4eHBmzEEhL/LjOy33qnW/Xz89XC4atYXN4f7gcmNZmykzWvbLVYliAW+UQLfF/s5n5VlTVT9bFAeLw0xDl+Vala5OYzOSbidF0wwDbsElsAAOFikXzooLWpYWJuJz/Bdp0tkulnXWdlotdreL9qZ0nGF3Lo+fk6gcD47KDtPvzlRlJQfvWZk8sO+4MHlosrbzL1aHCX8qNlQycHAkSJQ6f8opWcDUFv2/Grq+AsX4HD6IqA03GNYrSTNITMiPeJzId8/VapsNgRL+X3NnjDQDu+146enrLQiOfl34pEFnO7UrC0NH+P/hi3UfFzRdqTesy4oWcDkHzlf/+es6m8mBUAwyLIl6VWN9Cgo5qTGy/M2z5sQHDzz7/MGTHcdKTVYn4qaH17V7JAJiQbLq2WBzUfSHl+sPXqiz6voftJm25yQKuMREMIGzLE4+a+qvRFF8SBuaIc1kvcb0pbGvqrR1d860bzKjDyolC23OxhbdMZBMi9oTwItgWJpLyEMDc3AMWZIS8mmX7dS36rdXJykDA4aN3G07W6xBxLwIuaDT7ID7d1+3JkcEDgkYbI5TD9VIAHdpigow+uRuy3snKxACT4gPfi09NETKBzuzTzVze5iaTsv58s6qVvPaDx+U/GG5UspXG/u3nii3kh6ehLdudmRSRKD3FRbBWHb1zAiXh2ZHmv9Bo2Hv6Yp7NT1g5PAoWd7GTD6XeH5BoArMhvHsfLXmUFnb3l6yjHR1SoVJMPS2oqaufAAlXrVJKkz2F96ZE3fqfrtBT35W1P7mqpSh+SuPuyjSLVUIT2yasfZvxSZ9/9Wqbn+YTha16/UkLiR+8YMEcL2j15thMjlKcus32UqpYEyFTxa25uaXqLtsX5aqty1NuF3bY7U4UQ6W90b6luyEUcI6cDEfSCIe4abo/WerPrjS6Oh3IwT246zYwxsyohQBz6dwp8dgdTSYyKpRw2yv5eAScHmGcXto24DwEHNTNDlqnZlxwUumqiDGjt9tt7s8Q/MFj7sQhs2IluWkhmVMksJ9QUUX+9S0UPIdu90Kby1KCXllsgJoRd3rgIdrZk0aDyO4fjInOiokADSr1HhTis7igHu5lL9mZtQYmW6QQbCiBv2qw3f/eK7G4aKVIaLj22ef2TP/WYxGe5PBVlypPmAhK12UiWEpP68cTKSwAYFzfBu9UCrdvmTytUfahg7zxXLt2rnRMPPE0PdtqwmSwqq0MFhkxfSwG2Xa4tbe1p6+OKUEBC490tZ3WIEFdy31eoGbYoHyYLdgMX+ihI1hYr73LE6Xl4lY0JRFILMwzNitmFd7HvH5/Q4v0/HwV2JlF361MEwmfH5BYLHXFTauU/de6nN1AiB8Qson5P5DQMg5mAgZtwccA7gV6eGpsUGIh/n7zRbG9+L1ah1pcXJF3OWpoV6BtFCemG+3um5V63xxwB690QyemRItAwSH65zn1rjsoDuOkGUnbFhpJkIlhmQJL3b2Om7U6F6oINBZ79jdGqi4UiL2xKs283ApO/LkGIp3mi4VNm7k4NzRWnoH/ezqPALfsjh2V7OxsN5wv1E/f4qyoFwL+qXHyJLCvb6TGCbNiA58WNl9saJry9KEh82Ge/V62GlrdhyPgw+d1pd/mYm8CRznP2odvI5H714WLxfzdnxU2m0gc488KG0x/ml9hoBLTORNbgroBsVQLEG1VSqYwueGCrgq/8HjBPOIYHb0fpChgV5oD2UbU6GfZkWFhYpYh+fEnTab3V3U0gsWfzUtFMJk4Hgrp4fCz/0mo8Xu/OhWK2OnVCGidXMHOSWAhwu5gBf6qMMywbH1VocWygUUgTQ3IodNiBVE5MaFky+/vShpUiBCsUcKGl49dKutp28imITcEJ+bMlA3uikLzbhoxj04WPh2wKCY0Twt4KhwlAB7N3bnky61TwaGnWEG2yW5iL9hXjQcoKBK986Zx+Z+FyrkrEwPH1phZXoYJuRYSPe+s9WXKrtBEuSDxIMFJ1SM8xIVwMdfFGuOXmvstjiA473D5RtuinRSNRrLjhMlZpsTapmcacoX96kBHlicorq7P2dDdiyC47cf6xYfuHEV1Bgv6EIk84TcSKu9raJ9b5Mun8AlfnQD8FFQeUDlycEIf2MFBkwNla18YrjYbjwPxQGfG+QNVRbqLDQj5rfRijUgs2lRbN6VJqPJceRaC+KiM5IUaZOG039qpGxGjKykzpD3TTMozhdzNy+O9Vdx3+vTiuoMaq111z9L9p2vDQrgDingrZtoRgONrM2b43++InFRsmrIzycgJpYd4XHBEv6nO7PmxCveOl2p1va9duj2F28ugDQt5BGjYZIIEmbH5Ze07u5zNlvtT8ZrGr2DHVYBQ4m58cegItWarjjcetKlf1rKI1ayHlF47+NU0rzcjLdOVphId1y4+MgbmQSODxsKx/JyZ2w48rC52yoTcg6tT48PlfpvmhAmufle9qHztdfqejQmR2+vfQQAOMoTctOSlLkLorYtSxyo5ikgMg8FfSY7DkbwCD7USL7bvixxeox88z+Ka5sMxn4IpuG30VHJgKL7zWTNQEM7waUQz+ESEv+ZfmcH6eygWecAoWMoVyGeSeDD3Vxrj7XDQKZGyxWiMVJ7b5+zqsMUqQgATMfb1Ey62/X9vgaN8fUpYCSIekwpFU5WinBsmEBaemwN2j4BF5s3BfiUeLYvKWowQMBOCZcMVCEjaM7mrFGbFySF+NsS/a/+ycs+zVM+G6ND0fA0eaPIS7wGlJlgUy8U4zz+twADAE7cbX6225xOAAAAAElFTkSuQmCC\"\n                                  width=\"93\"></span></p>\n                          </td><!-- spacer -->\n                          <td style='padding:18.75pt 22.5pt 15.0pt 0cm'>\n                            <p align=\"right\" class=\"MsoNormal\" style='text-align:right;line-height:105%'><span\n                                style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>GT365</span>\n                            </p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- banner text -->\n                          <td colspan=\"2\" style='background:#005FA8;padding:11.25pt 22.5pt 11.25pt 22.5pt'>\n                            <p style='line-height:105%'><span\n                                style='font-size:19.5pt;line-height: 105%;font-family:\"Segoe UI Light\",sans-serif;color:white'>SharePoint Sites Sensitivity Labels</span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- content -->\n                          <td colspan=\"2\" style='width:100.0%;padding:11.25pt 22.5pt 11.25pt 22.5pt' width=\"100%\">\n                            <p style='line-height:13.5pt'><span style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>The following table shows all SharePoint sites and their assigned sensitivity label.</span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <td colspan=\"2\" style='width:100.0%;padding:11.25pt 22.5pt 11.25pt 22.5pt' width=\"100%\">\n                            <div>\n                              <ol>\n                                [groups]\n                              </ol>\n                            </div>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- footer -->\n                          <td colspan=\"2\" style='background:#595959;padding:.75pt .75pt .75pt .75pt'>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              &nbsp;</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              <a href=\"https://www.atwork-it.com/gdpr/\" style=\"color:white\">Privacy statement</a>\n                            </p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              This is an automatic generated email sent by <a href=\"https://www.atwork-it.com/\"\n                                style=\"color:white\">atwork</a>. Do not reply.</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              In case of questions, pls. contact <a href=\"mailto:office@atwork.at?subject=notification\"\n                                style=\"color:white\">office@atwork.at</a>.</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              &nbsp;</p>\n                          </td>\n                        </tr>\n                      </table>\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </div>\n            <div align=\"center\">\n              <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='width:450.0pt;border-collapse:collapse' width=\"600\">\n                <tr>\n                  <td style='width:450.0pt;background:#F1F1F1;padding:0pt 0pt 2.25pt 0pt' width=\"600\">\n                    <p align=\"left\" style='text-align:right'><span\n                        style='font-size:9.0pt;font-family:\"Segoe UI\",sans-serif;color:#666666'>&nbsp;</span></p>\n                  </td>\n                </tr>\n              </table>\n            </div>\n          </td>\n        </tr>\n      </table>\n    </div>\n    <p class=\"MsoNormal\">&nbsp;</p>\n  </div>\n</body>\n\n</html>"
              }
            ]
          },
          "runAfter": {
            "initrun": [
              "Succeeded"
            ]
          }
        },
        "initgroups": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "groups",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "initAppConfig": [
              "Succeeded",
              "Failed"
            ]
          }
        },
        "initgroupssorted": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "groupssorted",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "initgroups": [
              "Succeeded"
            ]
          }
        },
        "initrun": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "run",
                "type": "string",
                "value": "@{utcNow('O')}"
              }
            ]
          },
          "runAfter": {}
        },
        "scopemail": {
          "type": "Scope",
          "actions": {
            "creategroupshtmltable": {
              "type": "Table",
              "inputs": {
                "from": "@variables('groupssorted')",
                "format": "HTML",
                "columns": [
                  {
                    "header": "Site",
                    "value": "@concat('<li><a href=\\\"https://portal.azure.com/#view/Microsoft_AAD_IAM/GroupDetailsMenuBlade/~/Overview/groupId/',item()?['id'],'/menuId/\\\">',item()?['displayname'],'</a>')"
                  },
                  {
                    "header": "SensitivityLabel",
                    "value": "@concat(item()?['label'],'</li>')"
                  }
                ]
              },
              "runAfter": {
                "setgroupssorted": [
                  "Succeeded"
                ]
              }
            },
            "sendmail": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "To": "@{variables('config')?['adminEmail']}",
                  "Subject": "GT365: Sites Sensitivity Labels report",
                  "Body": "<p>@{replace(variables('emailtemplate'),'[groups]',variables('body'))}</p>",
                  "Importance": "Normal"
                },
                "path": "/v2/Mail"
              },
              "runAfter": {
                "setbody": [
                  "Succeeded"
                ]
              }
            },
            "setbody": {
              "type": "SetVariable",
              "inputs": {
                "name": "body",
                "value": "@{replace(replace(replace(body('creategroupshtmltable'),'&lt;','<'),'&gt;','>'),'\\&quot;','\"')}"
              },
              "runAfter": {
                "creategroupshtmltable": [
                  "Succeeded"
                ]
              }
            },
            "setgroupssorted": {
              "type": "SetVariable",
              "inputs": {
                "name": "groupssorted",
                "value": "@sort(variables('groups'),'displayname')"
              }
            }
          },
          "runAfter": {
            "deleteolddata": [
              "Succeeded",
              "Failed"
            ]
          }
        }
      },
      "outputs": {},
      "parameters": {
        "$connections": {
          "type": "Object",
          "defaultValue": {}
        }
      }
    },
    "parameters": {
      "$connections": {
        "value": {
          "azuretables": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables",
            "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RG-SensitivityLabels/providers/Microsoft.Web/connections/azuretables",
            "connectionName": "azuretables"
          },
          "sharepointonline": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline",
            "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RG-SensitivityLabels/providers/Microsoft.Web/connections/sharepointonline",
            "connectionName": "sharepointonline"
          },
          "keyvault": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault",
            "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RG-SensitivityLabels/providers/Microsoft.Web/connections/keyvault",
            "connectionName": "keyvault",
            "connectionProperties": {
              "authentication": {
                "identity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RG-SensitivityLabels/providers/Microsoft.ManagedIdentity/userAssignedIdentities/UAMIndl5hc37bd",
                "type": "ManagedServiceIdentity"
              }
            }
          },
          "office365": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
            "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RG-SensitivityLabels/providers/Microsoft.Web/connections/office365",
            "connectionName": "office365"
          }
        }
      }
    }
  }